@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
    margin-left: 240px;
    width: calc(100% - 200px);
  } 
 
 .scrollbar-modal::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: transparent;
}
  
.scrollbar-modal::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #C2DEDC;
  width: 5px;
}
  
 .scrollbar-modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #116A7B;
}
